body{
    margin:0;
    font-family:Arial;
    background:#0f0f0f;
    color:white;
}

/* LOGIN */

#login{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:#1b1b1b;
    padding:40px;
    border-radius:20px;
    width:300px;
    display:flex;
    flex-direction:column;
    gap:10px;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.card h1{
    text-align:center;
}

input{
    padding:12px;
    border:none;
    border-radius:10px;
    background:#2a2a2a;
    color:white;
}

button{
    padding:12px;
    border:none;
    border-radius:10px;
    background:#00ff99;
    cursor:pointer;
    font-weight:bold;
}

/* APP */

header{
    background:#161616;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.layout{
    display:flex;
    height:calc(100vh - 70px);
}

/* SIDEBAR */

.sidebar{
    width:220px;
    background:#151515;
    padding:20px;
}

/* MAIN */

main{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.mainCard{
    background:#1a1a1a;
    padding:40px;
    border-radius:20px;
    width:80%;
    text-align:center;
}

/* GAMES */

.games{
    width:220px;
    background:#151515;
    padding:20px;
    overflow:auto;
}

.games button{
    width:100%;
    margin-bottom:10px;
    background:#252525;
    color:white;
}

/* PLAYERS */

#players div{
    padding:8px;
    background:#202020;
    margin-bottom:5px;
    border-radius:8px;
}

/* MOBILE */

@media(max-width:900px){

    .layout{
        flex-direction:column;
    }

    .sidebar,
    .games{
        width:100%;
        box-sizing:border-box;
    }

}

#players div{
    padding:5px;
}
